[Unit]
Description=Spinnaker Echo
After=network.target

[Service]
Type=simple
GuessMainPID=yes
Environment=logfile=/var/log/spinnaker/echo/echo.log
ExecStartPre=/usr/bin/touch /etc/default/spinnaker
ExecStartPre=/bin/bash -c '. /etc/default/spinnaker'
ExecStart=/opt/echo/bin/echo 2>&1 ${logfile} &
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal+console
WorkingDirectory=/opt/echo

[Install]
WantedBy=multi-user.target
